{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="contenido">
      <section class="principal">
        <div class="principal__contenido">
          <p>LO FAMILIAR lo volvemos <strong>INSTITUCIONAL</strong></p>
        </div>
      </section>
      <section class="contentindex">
        <div class="contentindex__txt1">
          <p>SOLUCIONES <strong>EFICACES</strong> A SU EMPRESA</p>
        </div>
      </section>
      <section class="objetivos">
        <div class="objetivos__contenido">
          <p>DEFINIMOS <strong>OBJETIVOS PUNTUALES</strong></p>
          <p>PARA TU EMPRESA</p>
        </div>
      </section>
      <section class="arrow"> 
        <div class="arrow__contenido">
          <p>ACELERA LA <strong>PRODUCTIVIDAD</strong> DE TU <strong>EQUIPO DE VENTAS</strong>  </p>
        </div>
      </section>
      <section class="ajedrez"> 
        <div class="ajedrez__contenido"><img src= "{% static 'images/iconos/ajedrez_index.svg' %}" alt="Ícono de Pieza ajedrez"/>
          <p>DISEÑAMOS <strong>ESTRATEGIAS</strong> <strong>ECHAS A LA MEDIDA</strong>   </p>
        </div>
      </section>
      <section class="utilidades">
        <div class="utilidades__contenido">
          <p><strong>INCREMENTE UTILIDADES</strong> ESTABLECIENDO LAS MEJORES <strong>ESTRATEGIAS FISCALES</strong>   </p>
        </div>
      </section>
      <section class="especialistas">
        <div class="especialistas__contenido">
          <p>SOMOS <strong>ESPECIALISTAS</strong> <strong>EN EMPRESAS FAMILIARES</strong> </p>
        </div>
      </section>
      <section class="implementacion">
        <div class="implementacion__contenido">
          <p><strong>IMPLEMENTAMOS</strong> REQUISITOS PARA <strong>CUMPLIR</strong> CON LINEAMIENTO DE LA <strong>NOM-035</strong>  ANTE LA <strong>STPS</strong> </p>
        </div>
      </section>
</div>

{% endblock %}